.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
*.swp

*.log
logs/

autologin.conf
*.conf
!config.script.example

config.toml
config/

autologin
AutoLogin_win_*
AutoLogin_linux_*

tmp/
.tmp/
*.tmp
cookies*.txt

StartupPath.txt
